<div class="container">
  <h1>bits.</h1>
  <header>
    <nav class="menu"><i class="fa fa-bars fa-2x"></i></nav>
    <div id="nav">
      <ul>
        <li><a href="#" data-filter="*">All</a></li>
        <li><a href="#" data-filter=".cat1">Category 1</a></li>
        <li><a href="#" data-filter=".cat2">Category 2</a></li>
        <li><a href="#" data-filter=".cat3">Category 3</a></li>
      </ul>
    </div>
  </header>

  <section>
    <div id="content">
      <div class="box cat1 cat3">
        <h2 class="box-title">Lorem Ipsum</h2>
        <div class="box-text">
          Urna vut, eros aliquet sagittis augue? Augue adipiscing duis? Et a placerat, magna enim? Lacus sit. Nunc montes tristique purus auctor. Nascetur? Vut amet, phasellus pulvinar et odio. Ut aliquet integer sed enim ac amet nunc? Tincidunt sit, cum ridiculus, placerat cum, vut magna ridiculus ut phasellus ridiculus? Eu hac, mattis adipiscing, montes adipiscing urna montes rhoncus!
        </div>
      </div>

      <div class="box cat1 cat3">
        <h2 class="box-title">Doggie!</h2>
        <div class="box-text">
          <img src="https://s3.amazonaws.com/ooomf-com-files/Z3LXxzFMRe65FC3Dmhnp_woody_unsplash_DSC0129.jpg" alt="black dog">
          Candy soufflé pastry topping bonbon gummies chocolate cake muffin cookie. Biscuit biscuit pie chocolate cake wafer. Cupcake tootsie roll chocolate tootsie roll cookie.
        </div>
      </div>

      <div class="box cat1">
        <h2 class="box-title">Lorem Ipsum</h2>
        <div class="box-text">
          Urna vut, eros aliquet sagittis augue? Augue adipiscing duis? Et a placerat, magna enim? Lacus sit. Nunc montes tristique purus auctor. Nascetur? Vut amet, phasellus pulvinar et odio. Ut aliquet integer sed enim ac amet nunc? Tincidunt sit, cum ridiculus, placerat cum, vut magna ridiculus ut phasellus ridiculus? Eu hac, mattis adipiscing, montes adipiscing urna montes rhoncus! Odio placerat pellentesque risus urna elit, odio phasellus, rhoncus, est ridiculus purus etiam, penatibus integer!
        </div>
      </div>

      <div class="box cat1">
        <h2 class="box-title">Mountainz</h2>
        <div class="box-text">
          <img src="https://s3.amazonaws.com/ooomf-com-files/DKy1e4boQaev8RoBoWgD_Laudachsee_(2014-01-11)_%20(3%20von%2091).jpg" alt="mountain">
        </div>
      </div>

      <div class="box cat1">
        <h2 class="box-title">Lorem Ipsum</h2>
        <div class="box-text">
          Amet dolor? Diam cras ac quis a ut, augue massa cursus natoque cursus in sociis rhoncus, scelerisque mus ac. Pellentesque odio rhoncus, aliquet tempor? Nisi cursus lorem tincidunt penatibus eu scelerisque! Scelerisque mid rhoncus turpis eros? Nunc rhoncus in turpis, mus, nec augue, odio, mid tempor aliquam, ultricies.
        </div>
      </div>

      <div class="box cat2">
        <h2 class="box-title">Paris</h2>
        <div class="box-text">
          <img src="https://s3.amazonaws.com/ooomf-com-files/v0XrNIksTEOa73SsGSU4_IMG_20130105_195548.jpg" alt="paris">
        </div>
      </div>
      <div class="box cat2">
        <h2 class="box-title">Lorem Ipsum</h2>
        <div class="box-text">
          Urna vut, eros aliquet sagittis augue? Augue adipiscing duis? Et a placerat, magna enim? Lacus sit. Nunc montes tristique purus auctor. Nascetur? Vut amet, phasellus pulvinar et odio. Pellentesque odio rhoncus, aliquet tempor? Nisi cursus lorem tincidunt penatibus eu scelerisque! Scelerisque mid rhoncus turpis eros? Nunc rhoncus in turpis, mus, nec augue, odio, mid tempor aliquam, ultricies.
        </div>
      </div>

      <div class="box cat2 cat3">
        <h2 class="box-title">Lorem Ipsum</h2>
        <div class="box-text">
          Urna vut, eros aliquet sagittis augue? Augue adipiscing duis? Et a placerat, magna enim? Lacus sit.
        </div>
      </div>

      <div class="box cat1">
        <h2 class="box-title">Lorem Ipsum</h2>
        <div class="box-text">
          Amet dolor? Diam cras ac quis a ut, augue massa cursus natoque cursus in sociis rhoncus, scelerisque mus ac. Pellentesque odio rhoncus, aliquet tempor? Nisi cursus lorem tincidunt penatibus eu scelerisque! Scelerisque mid rhoncus turpis eros? Nunc rhoncus in turpis, mus, nec augue, odio, mid tempor aliquam, ultricies.
        </div>
      </div>

      <div class="box cat2 cat3">
        <h2 class="box-title">Lorem Ipsum</h2>
        <div class="box-text">
          Urna vut, eros aliquet sagittis augue? Augue adipiscing duis? Et a placerat, magna enim? Lacus sit. Nunc montes tristique purus auctor. Amet dolor? Diam cras ac quis a ut, augue massa cursus natoque cursus in sociis rhoncus, scelerisque mus ac. Pellentesque odio rhoncus, aliquet tempor? Nisi cursus lorem tincidunt penatibus eu scelerisque! Scelerisque mid rhoncus turpis eros? Nunc rhoncus in turpis, mus, nec augue, odio, mid tempor aliquam, ultricies.
        </div>
      </div>

    </div> <!-- CLOSES div.#content-->
  </section>
</div>