h1 {
  color: #35485A;
  font-size: 6.5em;
  font-family: Merriweather, serif;
  margin-top: 30px;
  margin-left: 140px;
  /*border-top: 1px solid #394C5f;*/
}

body {
  /*background-color: #CA446D;*/
  background-color: #BEC3C7;
  font-family: Helvetica;
  font-size: .7em;
  line-height: 1.6;
  width: 100%;
}

#content {
  width: 920px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 45px;
}

.box-title {
  font-size: 1.9em;
  margin-bottom: 10px;
}

.box {
  background-color: #FFFFFF;
  color: #394C5F;
  padding: 15px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 250px;
  /*border-bottom: 1px solid #787878;*/
  margin-bottom: 20px;
  box-shadow: 1px 1px #394C5F;
}

.box:hover {
  background-color: #35485A;
  color: #FFFFFF;
  cursor: pointer;
}

.box-text img {
  max-width: 100%;
}

/***********************************************/
/*              NAV BAR                        */
/***********************************************/

#nav {
  float: left;
  margin-left: 140px;
  margin-top: 10px;
}

#nav a {
  text-decoration: none;
  font-size: 1.2em;
  line-height: 2;
  color: #35485A;
  font-family: Merriweather;
  font-weight: 700;
}

#nav a:hover {
  color: #3E82B6;
}

#nav a:active {
  color: #151515;
}

/***********************************************/
/*              ANIMATE                        */
/***********************************************/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}